/** BOTTOM CONTENT */



.flexslider{
    max-height: 500px;
    min-height: 300px;

    border: none;
    margin: 0;
    margin-top: 0px;
    z-index: 0;

}

.boottom-content-flexslider-img{
    max-height: 500px;

    min-height: 300px;
}

.bottom-content-flexslider-title1{

    width: 40%;
    position: absolute;
    top:180px;
    left:0;


}

.bottom-content-flexslider-title1 h1{
    font-size: 2.5em;
    text-shadow: 2px 2px 1px rgba(105,18,39,0.2);
    color:white;
    background: #0292E0;

    width: 100%;

    padding-top: 5px;
    text-align: center;

}

.bottom-content-flexslider-title1 h2{
    margin-top: 50px;
    font-size: 2.2em;
    text-shadow: 2px 2px 1px rgba(105,18,39,0.2);
    color:white;
    padding-top: 5px;
    text-align: center;
    background: #EFB43D;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}



.bottom-content-flexslider-title2{
     width: 40%;

     position: absolute;
     top:180px;
     left:0;
}

.bottom-content-flexslider-title2 h1{
    font-size: 2.5em;

    text-shadow: 2px 2px 1px rgba(105,18,39,0.2);

    color:white;
    background: rgba(105,18,39,1);

    width: 100%;
    text-align: center;


    padding-top: 5px;


}


/** ANIMACIJE */

.bottom-content-lower-container-1{
    min-height: 250px;
}

.animate-title1-text2-delay{
    animation-delay: 2s;
}

.bottom-content-flexslider-title1-animate-delay{
    animation-delay: 6s;
}

.animate-title2-text2-delay{
    animation-delay: 6s;
}


/** VSEBINA */



.container-bottom-content{

    margin-top: 40px;
    min-height: 200px;
}

.glyphicon{

   color: rgba(105,18,39,1);
   font-size: 30px;
   text-align: center;
   width: 100%;
}

.container-bottom-content-box-content-title{
   color: rgba(0,0,0,0.7);
   font-size: 1.2em;
   text-align: center;
   font-weight: bold;

    padding-top: 20px;
    padding-bottom: 10px;

}

.container-bottom-content-box-content-text{
    padding-left: 30px;
    padding-right: 30px;

    text-align: justify;
}

.container-bottom-content-box-content-button{
    width: 50%;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    min-height: 40px;

    background-color: rgba(105,18,39,1);

    text-align: center;
    line-height: 40px;

    color: #ffffff;
    font-weight: bold;
}



.bottom-content-lower-container-2{
    background-color: #ffffff;
    margin-top: 60px;
    min-height: 300px;

    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.2);
}

.bottom-content-lower-container-2-content{
    margin-top: 40px;

}

.bottom-content-lower-container-2-content-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-content-lower-container-2-content-text{


    padding-right: 20px;
    text-align: justify;
}



.bottom-content-lower-container-3{
    padding-top: 60px;
    min-height: 300px;
}

.bottom-content-lower-container-3-content{

}

.bottom-content-lower-container-3-content-image{
    padding-right: 20px;
}

.bottom-content-lower-container-3-content-text{


    padding-right: 30px;
    padding-left: 20px;


    text-align: justify;

}


@media(max-width: 1250px) {

    .bottom-content-flexslider-title1{
        font-size: 0.8em;
        top:130px;
    }

    .bottom-content-flexslider-title2{
        font-size: 0.8em;
        top:130px;
    }

}




@media(max-width: 991px) {

    .bottom-content-flexslider-title1{
        width: 70%;
        top:80px;
    }

    .bottom-content-flexslider-title2{
        width: 70%;
        top:80px;
    }

    .container-bottom-content{
        margin-top: 60px;
    }



}