/** BOTTOM CONTENT */



.flexslider{
    max-height: 500px;
    min-height: 300px;

    border: none;
    margin: 0;
    margin-top: 0px;
    z-index: 0;

}

.boottom-content-flexslider{
    animation-delay: 0.5s;
}

.boottom-content-flexslider-img{
    max-height: 500px;

    min-height: 300px;
}

.bottom-content-flexslider-title1{

    width: 40%;
    position: absolute;
    top:180px;
    left:0;

}

.bottom-content-flexslider-title1 h1{
    font-size: 2.5em;

    color:rgba(105,18,39,1);

    font-weight: 600;

    text-transform: uppercase;

    width: 100%;

    padding-top: 5px;
    text-align: center;

}



.bottom-content-flexslider-title2{
     width: 40%;

     position: absolute;
     top:240px;
     left:0;
}

.bottom-content-flexslider-title2 h1{
    font-size: 2.5em;
    color: #333333;
    width: 100%;
    text-align: center;


    padding-top: 5px;
}




.animate-title2-button a:hover{
    text-decoration: none;

    background: #ffc43e;

    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.2);

}

.animate-title2-button a:active{
   text-decoration: none;
}

.animate-title2-button a:focus{
   text-decoration: none;
}

.bottom-content-flexslider-circle1{
    position: absolute;
    top: 150px;
    right: 0;

    width: 200px;
    height: 200px;

    background: rgba(105,18,39,0.9);

    border-radius: 50%;

    color: white;
    text-align: center;
}

.bottom-content-flexslider-circle1-text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 65px;

    color: white;

    font-size: 1.2em;
    font-weight: 600;
}


.bottom-content-flexslider-circle1-button{

    margin-top: 50px;
    width: 100%;

}

.bottom-content-flexslider-circle1-button a{
    display: block;

    margin-left: auto;
    margin-right: auto;

    height: 40px;
    line-height: 40px;
    width: 80px;

    background: #EFB43D;
    border-radius: 2px;

    text-align: center;
    font-size: 1.4em;
    color: white;
}

.bottom-content-flexslider-circle2{
    position: absolute;
    top: 250px;
    right: 230px;

    width: 200px;
    height: 200px;

    background: rgba(239, 180, 61,0.9);

    border-radius: 50%;

    color: white;
    text-align: center;
}


/** ANIMACIJE */

.bottom-content-lower-container-1{
    min-height: 250px;
}

.animate-title1-text1-delay{
    animation-delay: 1s;
}

.animate-title2-text2-delay{
    animation-delay: 2s;
}


/** VSEBINA */



.container-bottom-content{

    margin-top: 40px;
    min-height: 200px;
}

.glyphicon{

   color: rgba(105,18,39,1);
   font-size: 30px;
   text-align: center;
   width: 100%;
}

.container-bottom-content-box-content-title{
   color: rgba(0,0,0,0.7);
   font-size: 1.2em;
   text-align: center;
   font-weight: bold;

    padding-top: 20px;
    padding-bottom: 10px;

}

.container-bottom-content-box-content-text{
    padding-left: 30px;
    padding-right: 30px;

    text-align: justify;
}

.container-bottom-content-box-content-button{
    min-width: 50%;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    min-height: 40px;

    background-color: rgba(105,18,39,1);

    text-align: center;
    line-height: 40px;

    color: #ffffff;
    font-weight: bold;
}

.container-bottom-content-box-news{
   background: #ffffff;
   padding-bottom: 30px;
   margin-top: 20px;
   -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
   box-shadow:  0px 1px 4px rgba(0,0,0,0.2);

}

.container-bottom-content-box-news-title{
    color: rgba(105,18,39,1);

    font-size: 1.4em;
    text-align: center;
    font-weight: bold;

    padding-top: 20px;
    padding-bottom: 10px;

}


.container-bottom-content-box-content-news{
    height: 50px;

    padding-left: 30px;
    padding-right: 30px;


}

.container-bottom-content-box-content-news-title{
    font-size: 1.1em;
    font-weight: bold;

    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.container-bottom-content-box-content-news-title a{
   color:rgba(0, 0, 0, 0.7);
}


.container-bottom-content-box-content-news-text{
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}



.bottom-content-lower-container-2{
    background-color: #ffffff;
    margin-top: 60px;
    min-height: 300px;

    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.2);
}

.bottom-content-lower-container-2-content{
    margin-top: 40px;

}

.bottom-content-lower-container-2-content-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-content-lower-container-2-content-text{


    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
}







@media(max-width: 1250px) {

    .bottom-content-flexslider-title1{
        font-size: 0.8em;
        top:130px;
    }

    .bottom-content-flexslider-title2{
        font-size: 0.8em;
        top:130px;
    }

}




@media(max-width: 991px) {

    .bottom-content-flexslider-title1{
        width: 70%;
        top:80px;
    }

    .bottom-content-flexslider-title2{
        width: 70%;
        top:80px;
    }

    .container-bottom-content{
        margin-top: 60px;
    }



}