.bottom-content-container1{
    padding-top: 150px;
    min-height:880px;

     -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.2);
    background-color: #ffffff;

}


.bottom-content-box{

  padding-top: 30px;
}

.bottom-content-box-title{
   font-size: 2.2em;

   border-bottom: 2px solid rgba(105,18,39,1);


}

.bottom-content-box-text{
    padding-top: 50px;
    font-size: 1.2em;
    text-align: justify;

}

.bottom-content-box-img{
    float: right;
    margin-top: 30px;


    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    -webkit-box-shadow: 1px 2px 1px #d1d1d1;
    -moz-box-shadow: 1px 2px 1px #d1d1d1;
    box-shadow: 1px 2px 1px #d1d1d1;
}

.bottom-content-box-text > ul {
    margin-left: 20px;
}

.bottom-content-box-text > ul > li{
    padding-left: 10px;
    padding-top: 5px;
    color: rgba(105,18,39,1);


}


.li2{
  animation-delay:0.05s;
}

.li3{
  animation-delay:0.1s;
}

.li4{
  animation-delay:0.15s;
}

.li5{
  animation-delay:0.2s;
}

.li6{
  animation-delay:0.25s;
}

.li7{
  animation-delay:0.3s;
}

.li8{
  animation-delay:0.35s;
}

.li9{
  animation-delay:0.4s;
}

.li10{
  animation-delay:0.45s;
}

.li11{
  animation-delay:0.5s;
}

.li12{
  animation-delay:0.55s;
}

.li13{
  animation-delay:0.6s;
}

.li14{
  animation-delay:0.65s;
}

.li15{
  animation-delay:0.7s;
}


.li16{
  animation-delay:0.75s;
}








.bottom-content-box-text > ul > li > span{
    color: #333;
}


.bottom-content-box2{

  padding-top: 30px;
}


.bottom-content-container2{

    min-height:350px;


}

.bottom-content-container3{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow:  0px 1px 4px rgba(0,0,0,0.2);

    min-height:350px;


}

.bottom-content-container4{

    min-height:350px;


}