{% extends "main.html" %}
{% block page_title %}Raković Karmen s.p.{% endblock %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/home.css">
{% endblock %}
{% block nav_domov %}navbar-active{% endblock %}
{% block main_content %}
    <div class="row boottom-content-flexslider ">
        <div class="flexslider ">
            <ul class="slides">
                <li >
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="bottom-content-flexslider-title1 animated fadeInDown animate-title1-text1-delay">
                            <h1 class="animate-title1-text1">Sprememba je vaša odločitev</h1>
                            <span class="bottom-content-flexslider-title1-separator"></span>
                        </div>
                        <div class="bottom-content-flexslider-title2 animated fadeIn animate-title2-text2-delay">
                            <a id="slider-button1" class="bottom-content-flexslider-title2-button1" href="/kontakti/">Kontaktirajte nas</a>
                            <a id="slider-button2" class="bottom-content-flexslider-title2-button2" href="/povprasevanje/">Vas zanima cena </a>
                        </div>
                        
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="flexslider-img-overlay"></div>
                    <img class="boottom-content-flexslider-img" src="{{STATIC_URL}}img/bg05.jpg" width="100%" height="auto" />
					
                </li>

            </ul>
        </div>
    </div>
    <div class="row bottom-content-lower-container-1">
        <div class="col-lg-1 visible-lg visible-md"></div>
        <div class="col-lg-10 col-sm-12 col-sx-12">
            <div class="row container-bottom-content">
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12 animated fadeIn animate-dalay-0-5">
                    <div class="row">
                    	<span></span>
                        <i class="fa fa-user glyphicon fa-3x "></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Osebno sodelovanje
                                
                            </div>
                            <div class="container-bottom-content-box-content-text">
                            	
                                Računovodske storitve prilagajamo potrebam in željam strank. 
								
				
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12 animated fadeIn animate-dalay-1-0">
                    <div class="row">
                        <i class="fa fa-phone glyphicon fa-3x "></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Vedno na voljo
                                
                            </div>
                            <div class="container-bottom-content-box-content-text">
                            	
                                Če imate težavo ali vprašanje, smo vam vedno na voljo.
								
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12 animated fadeIn animate-dalay-1-5">
                    <div class="row">
                        <i class="fa fa-eur glyphicon fa-3x "></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Cenovno ugodno                                
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Cene oblikujemo v odvisnosti obsega poslovanja.
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12 animated fadeIn animate-dalay-2-0">
                    <div class="row">
                        <i class="fa fa-cloud glyphicon fa-3x "></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Računovodstvo v oblaku
                                
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Uporabljamo miniMAX, ki je dostopen preko spleta.
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 visible-lg visible-md"></div>
    </div>

    <div class="row bottom-content-lower-container-2">
        <div class="col-lg-2 visible-lg visible-md"></div>
        <div class="col-lg-8   col-sm-12 col-xs-12">
            <div class="row bottom-content-lower-container-2-content">
            	
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<div class="bottom-content-lower-container-content-logos row">
                		<div class="col-lg-3">
                			<img src="{{STATIC_URL}}img/saop.png" width="50%" />
                			<span class="bottom-content-lower-container-content-logos-separator"></span>
                		</div>
                		<div class="col-lg-3">
                			<img src="{{STATIC_URL}}img/minimax.png" width="50%" />
                			<span class="bottom-content-lower-container-content-logos-separator"></span>
                		</div>
                		<div class="col-lg-3">
                			<img src="{{STATIC_URL}}img/icenter.png" width="50%" />
                			<span class="bottom-content-lower-container-content-logos-separator"></span>
                		</div>
                		<div class="col-lg-3">
                			<img src="{{STATIC_URL}}img/birokrat.png" width="60%" />
                		</div>	
                	</div>
                	<span class="bottom-content-lower-container-content-title-separator"></span>
                    <div class="row bottom-content-lower-container-content-text">
                        Računovodske storitve izvajamo v spletni aplikaciji  miniMAX. miniMAX je spletna aplikacija, ki omogoča vnos in dostop podatkov preko spleta. 
                        To pomeni da je dostopna kjerkoli in kadarkoli,saj za uporabo potrebujete le brsklanik in dostop do spleta. Sama aplikacija miniMAX je zelo enostavna za uporabo tudi za nevešče uporabnike.
                        
                       	Stranka, si ob zakupu licence, sama vnaša svoje izdane in prjete račune in si s tem znjiža mesečni strošek.
                        <br/>
                        <br/>
                        Po predhodnem dogovoru je možna uporaba tudi drugih programov, kot so iCenter, Birokrat, itd.
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="col-lg-2 visible-lg visible-md"></div>
    </div>
    
    <div class="row bottom-content-lower-container-3">
        <div class="col-lg-2 visible-lg visible-md"></div>
        <div class="col-lg-8   col-sm-12 col-xs-12">
            <div class="row bottom-content-lower-container-3-content">
            	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                	<div class="bottom-content-lower-container-content-title">Podjetje Rakovič Karmen s.p.</div>
                	<span class="bottom-content-lower-container-content-title-separator"></span>
                    <div class="row bottom-content-lower-container-content-text">
                        Smo računovodski sevis z dolgoletnimi izkušnjami na področju vodenja računovodstva ter davčnega svetovanja .
                        Kljub temu, da smo majhen servis se po kakovosti  in strokovnosti ne razlikujemo od večjih.
                  	 	To je kvečjemu naša prednost, saj se lahko bolj poglobimo v poslovanje  posameznega podjetja.
                  	 	<br/>
                  	 	<br/>
                      	Naša največja odlika je, da smo vedno dosegljivi za vaše probleme, vprašanja ter poskušamo ohranjati oseben stik s stranko. Z našim zanesljivim ter strokovnim  delom poskušamo z vsako stranko graditi medsebojno zaupanje, ki je tudi temelj dolgoletnega sodelovanja.

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 visible-lg visible-md">
                    <div class="row">
                        <img class="bottom-content-lower-container-2-content-image " src="{{STATIC_URL}}img/corporateportrait.jpg" alt="slika1" height="auto" width="50%" />
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-lg-2 visible-lg visible-md"></div>
    </div>
	
	
{% endblock %}

{% block main_script %}
    <script>
        $(document).ready(function(){
             $('.flexslider').flexslider({

                animation: "fade",
                controlNav: false,
                directionNav: false,
                slideshowSpeed:100
             });
             
             
        });
    </script>

{% endblock %}