{% extends "main.html" %}
{% block main_content %}
    <div class="row boottom-content-flexslider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="{{STATIC_URL}}img/bg05.jpg" height="500px" />
                    <div class="bottom-content-flexslider-title1 animated fadeOutLeft bottom-content-flexslider-title1-animate-delay">
                        <h1 class="animate-title1-text1  animated fadeInLeft">Danes je čas za spremembe</h1>
                        <h2 class="animate-title1-text2  animated fadeInLeft animate-title1-text2-delay">Odločitev je na vaši strani</h2>
                    </div>
                    <div class="bottom-content-flexslider-title2">
                        <h1 class="animate-title2-text2 animated fadeInLeft animate-title2-text2-delay">Kontaktirajte nas</h1>
                    </div>
                </li>
                <li>
                    <img src="/static/img/background1.png" height="500px" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row bottom-content-lower-container-1">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row container-bottom-content">
                <div class="container-bottom-content-box col-lg-3">
                    <div class="row">
                        <i class="fa fa-user glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Osebno sodelovanje
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Their could can widen ten she any.
                                As so we smart those money in. Am wrote up whole so tears sense oh.
                                Absolute required of reserved in offering no. How sense found our those gay again taken the.
                                Had mrs outweigh desirous sex overcame. Improved property reserved disposal do offering me.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3">
                    <div class="row">
                        <i class="fa fa-question glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Vedno na voljo
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Sportsman do offending supported extremity breakfast by listening.
                                Decisively advantages nor expression unpleasing she led met.
                                Estate was tended ten boy nearer seemed. As so seeing latter he should thirty whence.
                                Steepest speaking up attended it as. Made neat an on be gave show snug tore.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3">
                    <div class="row">
                        <i class="fa fa-cloud glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Računovodstvo v oblaku
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Living valley had silent eat merits esteem bed. In last an or went wise as left.
                                Visited civilly am demesne so colonel he calling. So unreserved do interested increasing sentiments.
                                Vanity day giving points within six not law. Few impression difficulty his use has comparison decisively.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3">
                    <div class="container-bottom-content-box-content-title">
                                Povpraševanje
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Living valley had silent eat merits esteem bed. In last an or went wise as left.
                                Visited civilly am demesne so colonel he calling. So unreserved do interested increasing sentiments.

                            </div>
                            <div class="container-bottom-content-box-content-button">Vprašajte nas</div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>
    <div class="row bottom-content-lower-container-2">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row bottom-content-lower-container-2-content">
                <div class="col-lg-3 ">
                    <div class="row">
                        <img class="bottom-content-lower-container-2-content-image" src="{{STATIC_URL}}img/corporateportrait.jpg" alt="slika1" height="250px" width="auto" />
                    </div>
                </div>
                <div class="col-lg-9 ">
                    <div class="row bottom-content-lower-container-2-content-text">
                        Am no an listening depending up believing.
                        Enough around remove to barton agreed regret in or it.
                        Advantage mr estimable be commanded provision.
                        Year well shot deny shew come now had.
                        Shall downs stand marry taken his for out.
                        Do related mr account brandon an up. Wrong for never ready ham these witty him.
                        Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.
                        An country demesne message it. Bachelor domestic extended doubtful as concerns at.
                        Morning prudent removal an letters by. On could my in order never it.
                        Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate.
                        Law gate her well bed life feet seen rent. On nature or no except it sussex.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row bottom-content-lower-container-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row bottom-content-lower-container-3-content">
                <div class="col-lg-9 ">
                    <div class="row bottom-content-lower-container-3-content-text">
                        Am no an listening depending up believing.
                        Enough around remove to barton agreed regret in or it.
                        Advantage mr estimable be commanded provision.
                        Year well shot deny shew come now had.
                        Shall downs stand marry taken his for out.
                        Do related mr account brandon an up. Wrong for never ready ham these witty him.
                        Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.
                        An country demesne message it. Bachelor domestic extended doubtful as concerns at.
                        Morning prudent removal an letters by. On could my in order never it.
                        Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate.
                        Law gate her well bed life feet seen rent. On nature or no except it sussex.
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="row">
                        <img class="bottom-content-lower-container-3-content-image" src="{{STATIC_URL}}img/minimax.png" alt="slika2" height="250px" width="auto" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}