{% extends "main.html" %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/home.css">
{% endblock %}
{% block nav_domov %}navbar-active{% endblock %}
{% block main_content %}
    <div class="row boottom-content-flexslider ">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img class="boottom-content-flexslider-img" src="{{STATIC_URL}}img/bg05.jpg" width="100%" height="auto" />
                    <div class="bottom-content-flexslider-title1 animated fadeOutLeft bottom-content-flexslider-title1-animate-delay">
                        <h1 class="animate-title1-text1  animated fadeInLeft">Danes je čas za spremembe</h1>
                        <h2 class="animate-title1-text2  animated fadeInLeft animate-title1-text2-delay">Odločitev je na vaši strani</h2>
                    </div>
                    <div class="bottom-content-flexslider-title2">
                        <h1 class="animate-title2-text2 animated fadeInLeft animate-title2-text2-delay">Kontaktirajte nas</h1>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="row bottom-content-lower-container-1">
        <div class="col-lg-2 visible-lg visible-md"></div>
        <div class="col-lg-8 col-sm-12 col-sx-12">
            <div class="row container-bottom-content">
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="row">
                        <i class="fa fa-user glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Osebno sodelovanje
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Pri našem računovodskem servisu boste deležni posebne obravnave.
                                Do vsake stranke pristopamo individualno. Sodelovanje prilagodimo potrebam in željam stranke.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="row">
                        <i class="fa fa-question glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Vedno na voljo
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Namenite več časa svojemu poslu, vse storitve v zvezi z računovodstvom prevzamemo mi.
                                Preko spletnega obrazca za povpraševanje stopite v kontakt z nami. Na voljo smo vam tudi na telefon
                                ali preko elektronski naslova.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="row">
                        <i class="fa fa-cloud glyphicon fa-3x"></i>
                        <div class="container-bottom-content-box-content">
                            <div class="container-bottom-content-box-content-title">
                                Računovodstvo v oblaku
                            </div>
                            <div class="container-bottom-content-box-content-text">
                                Uporabljamo miniMAX, ki je najbolj priljubljen spletni poslovni računovodski program.
                                Podatki se vnašajo samo enkrat, sočasno jih lahko obdelujemo na različnih lokacijah, tako v podjetju, kot v računovodstvu.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bottom-content-box container-bottom-content-box-news col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="row container-bottom-content-box-news-title" >
                        Novice
                    </div>
                    {% for novica in novice %}
                        <div class="row container-bottom-content-box-content-news">
                            <div class="container-bottom-content-box-content-news-title">
                                    <a href="/novica/{{ novica.id }}">{{ novica.title }}</a>
                            </div>
                            <div class="container-bottom-content-box-content-news-text">
                                    {{ novica.short_description }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-2 visible-lg visible-md"></div>

    </div>

    <div class="row bottom-content-lower-container-2">
        <div class="col-lg-2 visible-lg visible-md"></div>
        <div class="col-lg-8   col-sm-12 col-xs-12">
            <div class="row bottom-content-lower-container-2-content">
                <div class="col-lg-3 col-md-3 visible-lg visible-md">
                    <div class="row">
                        <img class="bottom-content-lower-container-2-content-image " src="{{STATIC_URL}}img/corporateportrait.jpg" alt="slika1" height="auto" width="50%" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row bottom-content-lower-container-2-content-text">
                        Am no an listening depending up believing.
                        Enough around remove to barton agreed regret in or it.
                        Advantage mr estimable be commanded provision.
                        Year well shot deny shew come now had.
                        Shall downs stand marry taken his for out.
                        Do related mr account brandon an up. Wrong for never ready ham these witty him.
                        Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.
                        An country demesne message it. Bachelor domestic extended doubtful as concerns at.
                        Morning prudent removal an letters by. On could my in order never it.
                        Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate.
                        Law gate her well bed life feet seen rent. On nature or no except it sussex.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 visible-lg visible-md"></div>
    </div>

    <div class="row bottom-content-lower-container-3">
        <div class="col-lg-2 visible-lg visible-md"></div>
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <div class="row bottom-content-lower-container-3-content">
                <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                    <div class="row bottom-content-lower-container-3-content-text">
                        Am no an listening depending up believing.
                        Enough around remove to barton agreed regret in or it.
                        Advantage mr estimable be commanded provision.
                        Year well shot deny shew come now had.
                        Shall downs stand marry taken his for out.
                        Do related mr account brandon an up. Wrong for never ready ham these witty him.
                        Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.
                        An country demesne message it. Bachelor domestic extended doubtful as concerns at.
                        Morning prudent removal an letters by. On could my in order never it.
                        Or excited certain sixteen it to parties colonel. Depending conveying direction has led immediate.
                        Law gate her well bed life feet seen rent. On nature or no except it sussex.
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 visible-lg visible-md">
                    <div class="row">
                        <img class="bottom-content-lower-container-3-content-image " src="{{STATIC_URL}}img/minimax.png" alt="slika2" height="auto" width="100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 visible-lg visible-md"></div>
    </div>
{% endblock %}