{% extends "main.html" %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/novice.css">
    <script type="application/javascript" rel="script" src="{{STATIC_URL}}js/jquery.dotdotdot.min.js"></script>
{% endblock %}
{% block nav_novice %}navbar-active{% endblock %}
{% block main_content %}
    <div class="row bottom-content-lower-container">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row bottom-content-lower-container-news">
                {% for novica in novice %}
                    <div class="col-lg-4">
                        <div class="row bottom-content-lower-container-news-content">

                            <div class="news-content">
                                <img src="{{ MEDIA_URL }}{{ novica.image }}" alt="slika" width="50%">
                                <div class="news-title">
                                    <a href="/novica/{{ novica.id }}">{{ novica.title }}</a>
                                </div>
                                <p class="news-text">
                                    {{ novica.text }}
                                    <a class="readmore" href="/novica/{{ novica.id }}/">več</a>
                                </p>

                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>




{% endblock %}

{% block main_script %}

    <script>
        $(document).ready(function() {
            $(".news-content").dotdotdot({
                after: "a.readmore",
                watch: "window",
                height: 230
            });
        });
    </script>

{% endblock %}