{% extends "main.html" %}
{% block page_title %}Novice{% endblock %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/novice.css">
    <script type="application/javascript" rel="script" src="{{STATIC_URL}}js/jquery.dotdotdot.min.js"></script>
{% endblock %}
{% block nav_novice %}navbar-active{% endblock %}
{% block main_content %}
    <div class="row bottom-content-lower-container">
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row bottom-content-lower-container-news">
                {% for novica in novice %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="row bottom-content-lower-container-news-content">

                            <div class="news-content">
                                <div class="news-img">
                                    <img src="{{ MEDIA_URL }}{{ novica.image }}" alt="slika" width="100%" height="100%">
                                </div>

                                <div class="news-title">
                                    <a href="/novica/{{ novica.id }}">{{ novica.title }}</a>
                                </div>

                                {{ novica.text|safe }}
                                <a class="readmore" href="/novica/{{ novica.id }}/">več</a>


                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>




{% endblock %}

{% block main_script %}

    <script>
        $(document).ready(function() {
            $(".news-content").dotdotdot({
                after: "a.readmore",
                watch: "window"

            });
        });
    </script>

{% endblock %}