{% extends "main.html" %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/podjetje.css">
{% endblock %}
{% block main_content %}
    <div class="row bottom-content-box">
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class=" row ">
                  <div class="bottom-content-box-left-title">
                                O PODJETJU
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="row bottom-content-box-left">

                          <div class="bottom-content-box-text">
                              Smo računovodski sevis z dolgoletnimi izkušnjami na področju vodenja računovodstva ter davčnega svetovanja .
                              Kljub temu, da smo majhen servis se po kakovosti  in strokovnosti ne razlikujemo od večjih.
                              To je kvečjemu naša prednost, saj se lahko bolj poglobimo v poslovanje  posameznega podjetja.
                              Naša največja odlika je, da smo vedno dosegljivi za vaše probleme, vprašanja ter poskušamo ohranjati oseben stik s stranko. Z našim zanesljivim ter strokovnim  delom poskušamo z vsako stranko graditi medsebojno zaupanje, ki je tudi temelj dolgoletnega sodelovanja.
                              </br>
                              </br>

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 visible-lg visible-md">
                      <div class="row ">
                          <img class="animated fadeInRight bottom-content-box-img" src="{{STATIC_URL}}img/pisaran1.jpg" alt="pisaran" height="auto" width="85%" />
                      </div>

                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>

    <div class="row bottom-content-box2">
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class=" row ">
                  <div class="col-lg-4 col-md-4 visible-lg visible-md">
                      <div class="row">
                          <img class="animated fadeInLeft bottom-content-box2-img" src="{{STATIC_URL}}img/bilanca-stanja.jpg" alt="pisaran" height="auto" width="85%" />
                      </div>

                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="row bottom-content-box-left">

                          <div class="bottom-content-box-text">


                              <ul>
                                  <li>
                                      <span>Povdarek posevečamo davčnemu ter računovodskemu svetovanju</span>
                                  </li>
                                  <li>
                                      <span>Usmerjanje stank v smeri boljše optimatizacije davčne bilance</span>
                                  </li>
                                  <li>
                                      <span>Podrobno  spremljamo rezultate poslovanja</span>
                                  </li>
                                  <li>
                                      <span>Oblikujemo strategijo zmanjševanja davčnih obveznosti ter izboljšanja donosnosti poslovanja</span>
                                  </li>
                              </ul>

                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>
    <div class="row bottom-content-box3">
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class=" row ">

                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="row bottom-content-box-left">

                          <div class="bottom-content-box-text">

                              <ul>
                                  <li>
                                      <span>Sledimo novim tehnološkim rešitvam</span>
                                  </li>
                                  <li>
                                      <span>Nudimo možnost e-računovodstva preko spletnega programa MiniMax</span>
                                  </li>
                                  <li>
                                      <span>Stankam omogočamo direktni vpogled v poslovanje</span>
                                  </li>
                                  <li>
                                      <span>Spletna aplikacija omogoča pregledovanje odprtih postavk kupcev ter dobaviteljev</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 visible-lg visible-md">
                      <div class="row">
                          <img class="bottom-content-box3-img" src="{{STATIC_URL}}img/bilanca-stanja.jpg" alt="pisaran" height="auto" width="85%" />
                      </div>

                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>
{% endblock %}