{% extends "main.html" %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/storitve.css">
{% endblock %}
{% block main_content %}
    <div class="row bottom-content-container1">
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class=" row bottom-content-box">
                  <div class="bottom-content-box-title">
                        STORITVE
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="row bottom-content-box-text">
                          Vodimo računovodstvo za samostojne podjetnike ter za male gospodarske družbe.
                          </br>
                          </br>
                          Nudimo naslednje storitve:
                          <ul>
                              <li class=" li1"><span>svetovanje</span></li>
                              <li class="li2"><span>vodenje glavne knjige, analitičnih evidenc,saldakontov</span></li>
                              <li class="li3"><span>vodenje blagajne</span></li>
                              <li class="li4"><span>priprava obračuna dnevnic, kilometrin</span></li>
                              <li class="li5"><span>vodenje osnovnih sredstev ( z obračuni amortizacije ) </span></li>
                              <li class="li6"><span>obračun plač in ostalih osebnih prejemkov</span></li>
                              <li class="li7"><span>priprava podatkov za dohodnino, M-4 obrazci</span></li>
                              <li class="li8"><span>obračun prispevkov zasebnika</span></li>
                              <li class="li9"><span>vodenje vseh evidenc v zvezi z DDV-jem </span></li>
                              <li class="li10"><span>obračun davka na dodano vrednost ter priprava vseh obrazcev za DDV </span></li>
                              <li class="li11"><span>priprava poročila za INTRASTAT </span></li>
                              <li class="li12"><span>izdelava računovodskih izkazov – izkaz poslovnega izida, izkaz stanja </span></li>
                              <li class="li13"><span>sestavljanje napovedi za obračun davka od dejavnosti za zasebnike </span></li>
                              <li class="li14"><span>izdelava medletnih bilanc</span></li>
                              <li class="li15"><span>izdelava letnega poročila ( davčna bilanca, poročilo AJPES )</span></li>
                              <li class="li16"><span>izdelava raznih statističnih poročil</span></li>
                          </ul>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 visible-lg visible-md">
                      <div class="row">
                          <img class="animated fadeInRight bottom-content-box-img" src="{{STATIC_URL}}img/accounting.jpg" alt="slika1" height="auto" width="90%" />
                      </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>
    <div class=" row bottom-content-container2">
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
              <div class="col-lg-8">
                  <div class="row bottom-content-container2-box">

                      <div class="bottom-content-box-text">


                      </div>
                  </div>
              </div>
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>


{% endblock %}