{% extends "main.html" %}
{% block head_content %}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/storitve.css">
{% endblock %}
{% block nav_storitve %}navbar-active{% endblock %}
{% block main_content %}
    <div class="row bottom-content-container1">
        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class=" row bottom-content-box">
                  <div class="bottom-content-box-title">
                        STORITVE
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                      <div class="row bottom-content-box-text">


                          Osnovna dejavnost našega podjetja je nudenje računovodskih storitev  mikro ter malim   gospodarskim družbam, podjetnikom in društvom. Možen je dogovor za opravljanje vseh storitev ali pa le za opravljanje določenega dela računovodstva.
                          </br>
                          </br>
                          Na podlagi pooblastila in elektronskega podpisa elektronsko oddajamo vse zakonsko predpisane obrazce ter poročila državnim institucijam kot so FURS, AJPES ... .
                          Tako bodo vsa vaša poročila oddana v predpisano zakonskem roku brez nepotrenih zamud.
                          </br>
                          </br>


                      </div>
                  </div>

                  <div class="col-lg-4 col-md-4 visible-lg visible-md">
                      <div class="row">
                          <img class="animated fadeInRight bottom-content-box-img" src="{{STATIC_URL}}img/accounting.jpg" alt="slika1" height="auto" width="90%" />
                      </div>
                  </div>
              </div>
        </div>

        <div class="col-lg-2 col-md-2 visible-lg visible-md"></div>
    </div>
    <div class=" row bottom-content-container2">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row bottom-content-container2-list">
                <div class="col-lg-6">
                    <div class="row">
                        <ul>
                          <li class=" li1"><i class="fa fa-chevron-circle-right fa-lg"></i><span>svetovanje</span></li>
                          <li class="li2"><i class="fa fa-chevron-circle-right fa-lg"></i><span>vodenje glavne knjige, analitičnih evidenc,saldakontov</span></li>
                          <li class="li3"><i class="fa fa-chevron-circle-right fa-lg"></i><span>vodenje blagajne</span></li>
                          <li class="li4"><i class="fa fa-chevron-circle-right fa-lg"></i><span>priprava obračuna dnevnic, kilometrin</span></li>
                          <li class="li5"><i class="fa fa-chevron-circle-right fa-lg"></i><span>vodenje osnovnih sredstev ( z obračuni amortizacije ) </span></li>
                          <li class="li6"><i class="fa fa-chevron-circle-right fa-lg"></i><span>obračun plač in ostalih osebnih prejemkov</span></li>
                          <li class="li7"><i class="fa fa-chevron-circle-right fa-lg"></i><span>priprava podatkov za dohodnino, M-4 obrazci</span></li>
                          <li class="li8"><i class="fa fa-chevron-circle-right fa-lg"></i><span>obračun prispevkov zasebnika</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <ul>
                          <li class="li9"><i class="fa fa-chevron-circle-right fa-lg"></i><span>vodenje vseh evidenc v zvezi z DDV-jem </span></li>
                          <li class="li10"><i class="fa fa-chevron-circle-right fa-lg"></i><span>obračun davka na dodano vrednost ter priprava vseh obrazcev za DDV </span></li>
                          <li class="li11"><i class="fa fa-chevron-circle-right fa-lg"></i><span>priprava poročila za INTRASTAT </span></li>
                          <li class="li12"><i class="fa fa-chevron-circle-right fa-lg"></i><span>izdelava računovodskih izkazov – izkaz poslovnega izida, izkaz stanja </span></li>
                          <li class="li13"><i class="fa fa-chevron-circle-right fa-lg"></i><span>sestavljanje napovedi za obračun davka od dejavnosti za zasebnike </span></li>
                          <li class="li14"><i class="fa fa-chevron-circle-right fa-lg"></i><span>izdelava medletnih bilanc</span></li>
                          <li class="li15"><i class="fa fa-chevron-circle-right fa-lg"></i><span>izdelava letnega poročila ( davčna bilanca, poročilo AJPES )</span></li>
                          <li class="li16"><i class="fa fa-chevron-circle-right fa-lg"></i><span>izdelava raznih statističnih poročil</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>


{% endblock %}